$font: 'Nunito', sans-serif;
$regularWeight: 500;
$boldWeight: 800;
$lightWeight: 200;

// User profiles
$patientColor: #6558F5;
$pharmacistColor: #D1594F;
$driverColor: #C455A8;

$mainColor: #F5BE00;
