// Dashboard main
#dashboard__main-top {
  display: flex;
  justify-content: flex-end;
}

#dashboard__main-top--icon {
  align-self: center;
  margin-right: 1.5rem;
}

#dashboard__main-top--text {
  margin-top: 1rem;
}

// Dashboard profile
#dashboard__profile-top--imagediv {

}

#dashboard__profile-top--image {

}
